$color: #f6f6f6;
//$color: #79B2F5;

body {
  background: $color;
}

img {
  -webkit-user-drag: none;
}

.home-logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout {
  .site-layout-background {
    background: #fff;
  }
}
